{% if platform.xboxOne or platform.xboxSeries %}
    <span class="badge badge-success p-2">{{ platform.name }}</span>
{% elseif platform.playstation4 or platform.playstation5 %}
    <span class="badge badge-primary p-2">{{ platform.name }}</span>
{% elseif platform.pC %}
    <span class="badge badge-info p-2">{{ platform.name }}</span>
{% elseif platform.switch %}
    <span class="badge badge-danger p-2">{{ platform.name }}</span>
{% endif %}
