{% if platform.xboxOne %}
    <span class="badge badge-success">{{ platform.name|trans }}</span>
{% elseif platform.playstation4 %}
    <span class="badge badge-primary">{{ platform.name|trans }}</span>
{% elseif platform.pC %}
    <span class="badge badge-info">{{ platform.name|trans }}</span>
{% endif %}